html {
  background-image: url('./bg.jpg');
  color: #fff;
  caret-color: transparent !important;
}

a {
  text-decoration: none;
}

section {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  color: #dedede;
}

img {
  width: 300px;
}

#content {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
}

.tile {
  text-align: center;
  padding: 10px;
}
